# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyi
*.pyc

# Environments
.venv/
venv/

# Django/SQLite local DB
Backend/db.sqlite3
backend/db.sqlite3

# Node
Frontend/node_modules/
Frontend/dist/
Frontend/out-tsc/

# Build artifacts
repo.tar
repo.tar.gz
*.log

# macOS
.DS_Store
